.chat-main
  .chat-main__group-info
    .chat-main__group-name
      = @group.name
      .chat-main__group-member
        Member : 
        - @users.each do |user|
          = user.name
    =link_to edit_group_path(@group.id), class:"chat-main__group-edit" do
      Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    .chat-main__message-formbox
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, placeholder: "type a message", class: "input-box__text"
          = f.label :image, class: "input-box__image" do
            = icon("fa", "image", class: "input-box__image--icon")
            = f.file_field :image, class: "input-box__file"
          = f.submit "Send", class: "input-box__btn"